extend layout

block content
	//- Place your links in an unordered list inside of a <nav> element
	//- The first element should be the 'close' link
	nav
		ul
			li
				a(href="#") Item 1
			li
				a(href="#") Item 2
			li
				a(href="#") Item 3
			li
				a(href="#") Item 4
			li
				a(href="#") Item 5
	//- Add a link that opens the menu

	a#nav-toggle.nav-toggle(href="#") Menu

