extend layout

block content
	//- Place your links in an unordered list inside of a <nav> element
	//- The first element should be the 'close' link
	nav.offcanvas-nav
		ul.offcanvas-nav__list
			li.offcanvas-nav__item
				a.offcanvas-nav__link(href="#") Item 1
			li.offcanvas-nav__item
				a.offcanvas-nav__link(href="#") Item 2
			li.offcanvas-nav__item
				a.offcanvas-nav__link(href="#") Item 3
			li.offcanvas-nav__item
				a.offcanvas-nav__link(href="#") Item 4
			li.offcanvas-nav__item
				a.offcanvas-nav__link(href="#") Item 5
	//- Add a link that opens the menu

	a#nav-toggle.offcanvas-nav__toggle(href="#") Menu
