doctype html
html
	head
		title Off Canvas Navigation

		block css
			link(rel='stylesheet', href='includes/css/offcanvas-nav.min.css')
	body

		block content

		block bottom-script
			script(src='includes/js/offcanvas-nav.min.js')
